h1, h2 {
    text-indent: 50px;
    color: #222;
}
h3 {
    text-indent: 60px;
}
ul {
    text-indent: 80 px;
}
ul li {
    padding-left: 60px; /* Adjust the value as needed */
    text-indent: -22px;
    list-style-position: inside;
}